.form,.registro,.form__header{
  display: flex;
  flex-direction: column;
}
.form__header{
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  padding: 10px;
  border-bottom: 1px solid lightgray;

}

.form__info{
  display: block;
  font-size: 15px;
  color: gray;
  width: 70%;
  text-align: center;
  font-weight: bold;
  padding: 5px;
}


.form__field{
  position: relative;
  margin-bottom: 15px;
  .form__x{
    color: red;
    top:50%;
    transform: translateY(-50%);
    left: 95%;
    position: absolute;
  }
}

// .form__search--hidden{
//   background: red;
// }

.hidden{
  display: none;
  background: green;
}

.form{
	min-width: 350px;
	height: auto;
	padding: 10px 20px;
  box-shadow: 0px 0px 1px 0px rgba(gray,0.5);
	margin: auto;
	align-items: center;
  background: #fff;


	.title{
		font-family: 'Satisfy';
		font-size: 36px;
    font-weight: bold;
		text-align: center;
		color: $primary-color;

	}
}
.form__footer{
	margin: 15px 0;
	border-top: 1px solid lightgray;
	padding-top: 15px;
	width: 100%;
	text-align: center;

	p{
		display: inline;
		font-family: sans-serif;
		font-size: 14px;
	}

	.form__a{
		color: $primary-color;
		cursor: pointer;
	}
}

.registro{
  justify-content: center;
  width: 100%;
}
.error{
  font-size: 10px;
  background: green;
  margin: 0;
  padding: 0;
  color: #FF3722;
  margin: auto;
  font-family: 'Open Sans';
}
.input.danger{
  border: 1px solid lighten(red, 20);
}
.input{
  width: 100%;
  text-align: center;
  padding: 5px;
  border: 1px solid lightgray;
  // margin-bottom: 15px;

  font-family: 'Open sans';
  font-size: 16px;
  color: black;
}

.select{
  background: #fff;
  text-align-last: center;
}
.input,.submit{
  border-radius: 15px;
  outline: none;

}

.signin-form{
	display: flex;
	flex-direction: column;
	width: 100%;

}
.submit{
	background-color: $primary-color;
  // @include primaryColor;
	// border-radius: 20px;
	border: none;
	color: #fff;
	font-family: 'Lobster';
	font-size: 18px;
  padding: 5px;
  transition: all ease 0.2s;
  outline: none;
  &:active{
    transform: scale(0.9);
  }
}
.submit--disable{
  background: #ccc;
}

.form__terms{
  padding: 8px;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 10px;
  .form__span-bold{
    font-weight: bold;
  }
}
.form__span{
  color: gray;
}

// INPUT FILE
#file{
  display: none;
}

.input__file{
  $size:50px;
  display: block;
  background: $primary-color;
  border-radius: 50%;
  height: $size;
  width: $size;
  margin-top: -0.5rem;
  // margin-right: 0.5rem;
  @include flexAbsoluteCenter;
  &--icon{
    height: $size;
    width: $size;
    border-radius: 50%;
    @include flexAbsoluteCenter;
    color: #fff;
    font-size: 28px;
    line-height: 2.3;
    transition: all ease 0.5s;
    &:hover{
      transform: rotate(45deg);
    }
    &:active{
      transform: scale(0.5);
    }
  }

}
