$footer-h:2rem;
a{
  text-decoration: none;

}
.center{
  display: flex;
  justify-content: center;
  align-items: center;
  // background: blue;
}

.main-index{
  height: calc(100vh - #{$footer-h});
  // background: green;
}


.footer{
  height: $footer-h;
  display: flex;
  p{
    font-size: 11px;
    color: gray;
  }
}
