@import './post';
@import "./modal";
$footer-h:2rem;
//Basic reset
*,  *::after,*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

//Moz
*:focus{
  outline: none;
}

body{
  background: #eeefff;
}

.body{
  background: $primary-color;
}




.container{
  width: 80%;
  margin: auto;
  @media screen and (max-width: 420px){
    width: 90%;
  }
}

.container--header{
  display: flex;
  justify-content: space-between;
}

a{
  text-decoration: none;
}

button{
  outline: none;
  border:none;
  padding: 5px;
  border-radius: 20px;
  &:active{
    transform: scale(0.9);
  }

}

ul{
  list-style: none;
}

img{
  display: block;
  width: 100%;
}

.preview-image{
  width: 30%;
  margin: auto;
  display: block;
}



.center{
  display: flex;
  justify-content: center;
  align-items: center;
  // background: blue;
}

.main-index{
  height: calc(100vh - #{$footer-h});
  // background: green;
}

.container--fixed{
  position: fixed;
  left: 0;
  top:calc(100% - 50px);
  // padding: 10px;
  // background: steelblue;
  width: 100%;
  height: 50px;
  .end{
    display: flex;
    justify-content: flex-end;
    @media screen and (max-width:768px){
      width: 100%;
      .input__file{
        margin-right: 0.5rem;
      }
    }
  }
}

.footer{
  height: $footer-h;
  display: flex;
  p{
    font-size: 11px;
    color: gray;
  }
}

.profile-box{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: auto;
  padding: 20px 40px;
  width: 100%;

  .layout{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 200px;
    margin: auto;

    .layout-icon{
      display: flex;
      align-self: center;
      justify-content: center;
      width: 40px;
      border-radius: 5px;
      padding-top: 3px;
      border: 1px solid gray;


    }
  }
}

.profile-info{
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 5px gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 10px;
  text-align: center;
  width: 100%;

  figure{
    padding: 10px 0;

    img{
      width: 200px;
      height: 200px;
      border-radius: 100%;
    }

    figcaption{
      font-weight: bold;
      color: gray;
    }

  }

  .edit-icon{
    align-self: flex-end;
    border-radius: 100px;
    box-shadow: 0 0 1px gray;
    color: black;
    display: flex;
    align-items:center;
    font-weight: bold;
    height: 35px;
    padding: 5px;
    transition-duration: 0.2s;
    width: 35px;

    div{
      margin: auto;
      margin-top: 3px;
      margin-right: 4px;
    }

    &:hover{
      box-shadow: 0 0 5px black;
    }
  }

}

.profile-edit{
  @extend .profile-info;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: center;

  .profile-edit-buttons{
    display: flex;
    padding: 10px 0;
    justify-content: space-around;
    width: 20%;
  }

}

.form-profile-edit{
  width: 30%;
  min-width: 300px;
  padding: 10px 50px;
  display: flex;
  flex-direction: column;

  .form__field{
    display: flex;
    flex-direction: column;
  }
}

.profile-picture{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;

  button{
    margin-top: 20px;
  }

  figure{
    width: 155px;
    height: 155px;

    img{
      width: 150px;
      height: 150px;
    }
  }

}

.avatar-pictures{
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;

  transition-duration: 1s;
}

.editing-avatar-enter-active {
  transition: all .5s ease-out;
}
.editing-avatar-leave-active {
  transition: all .2s linear;
}
.editing-avatar-enter, .editing-avatar-leave-to{
  transform: translateX(300px);
  opacity: 0;
}

/*
.edit-profile-picture{
  border: 1px solid black;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
*/

.button{
  padding: 5px 10px;
  background-color: $primary-color;
  color: white;
  border-radius: 5px;
}

.more-about-user{
  padding: 10px 0;
  width: 40%;
  margin: auto;
  border-top: 1px solid rgba(0,0,0,0.3);

  display: flex;
  justify-content: space-around;
}
.profile-content{
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 5px gray;
  margin-top: 15px;
  padding: 20px 0;
  text-align: center;
  width: 100%;

  display: flex;
  @keyframes spinner{
    from{
      transform: rotate(0deg);
    }
    to{
      transform: rotate(360deg);
    }
  }
  &--center{
    i{
      // animation: spinner linear 1s;
      font-size: 24px;
      transform: rotate(360deg);
    }
    justify-content: center;
  }
}

.show-some{
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;

  figure{
    height: 300px;
    margin-bottom: 10px;
    width: 400px;

    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    img{
      border-radius: 5px;
      height: 80%;
      width: 80%;
    }
  }
}

.show-by-one{
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  figure{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 50px;
    width: 80%;
    border-bottom: 1px solid lightgray;

    img{
      border-radius: 5px;
      height: 80%;
      width: 80%;
    }
  }
}
