$primary-color:#EB3349;
$accent-color:#F45C43;

// $primary-color:#FC354C;
@mixin primaryColor {
  background: $primary-color;
  background: -webkit-linear-gradient(to right, $primary-color, $accent-color);
  background: linear-gradient(to right, $primary-color, $accent-color);
}
